{"adorable" 3
 "cheerful" 2,
 "disaster" -2,
 "cant stand" -3,
 "dont like" -2,
 "tragedy" -2,
 "agree" 1,
 "like" 2,
 "optimistic" 2,
 "catastrophic" -4,
 "pretty" 1,
 "awesome" 4,
 "want" 1,
 "pleasant" 3,
 "terrible" -3
 "happy" 3}
